<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Polls</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex items-center justify-between">
            <div class="flex items-center">
                <img src="/images/logo.png" alt='Logo' class='w-16 h-16 mr-2 rounded-full shadow-lg'>
                <div class="text-white text-3xl font-bold">Connect</div>
            </div>
            <ul class="flex space-x-4">
                <li>
                    <a href="/" class="text-white hover:underline">Home</a>
                </li>
                <li>
                    <a href="/" class="text-white hover:underline">Contact</a>
                </li>
                <li>
                    <a href="/new-poll" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full shadow-lg">New Poll</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mx-auto py-8 relative">
        <h1 class="text-3xl font-bold mb-4">Polls</h1>

        <!-- Iterate over polls array -->
        <% polls.forEach(poll => { %>
        <div class="bg-white rounded-lg shadow-lg mb-4">
            <div class="p-6">
                <h4 class="text-xl font-bold underline mb-2"><%= poll.title %></h4>
                <p class="text-gray-600 mb-2">Author: <%= poll.author %></p>
                <div class="flex items-center">
                    <button class="thumb-up-btn focus:outline-none" data-id="<%= poll._id %>">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 9l3-3m0 0l3 3m-3-3v12M10 5H6a2 2 0 00-2 2v12a2 2 0 002 2h4m0-4h8m-8-4h8m-8-4h8" />
                        </svg>
                    </button>
                    <span class="text-gray-600 ml-2">Votes: <span class="font-bold vote-count"><%= poll.votecount %></span></span>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    <script>
        document.querySelectorAll('.thumb-up-btn').forEach(button => {
            button.addEventListener('click', async () => {
                const pollId = button.getAttribute('data-id');
                const hasVoted = localStorage.getItem(`voted_${pollId}`);

                if (!hasVoted) {
                    try {
                        const response = await axios.post(`/polls/${pollId}/vote`);
                        console.log(response);
                        const newVoteCount = response;
                        button.nextElementSibling.querySelector('.vote-count').textContent = newVoteCount;
                        button.classList.add('text-blue-500'); // Change color to indicate vote registered
                        localStorage.setItem(`voted_${pollId}`, 'true'); // Mark as voted
                    } catch (error) {
                        console.error('Error updating vote count:', error);
                    }
                } else {
                    console.log('You have already voted.');
                }
            });
        });
    </script>
</body>

</html>
